
  .container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
  }
  
  .gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
  }
  
  .gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
  }
  
  .tz-gallery {
    padding: 0px;
  }
  a.lightbox {
    position: relative;
    display: block;
}
  
  /* Override bootstrap column paddings */
  .tz-gallery .row > div {
    padding: 2px;
  }
  
  .tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
  }
 
  .tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: "";
    transition: 0.4s;
  }
  button.close {
    width: 35px;
    position: absolute;
    right: 0;
    z-index: 3;
    background: #de2828;
    color: #fff;
    font-size: 30px;
    height: auto;
    line-height: initial;
    border: none;
}
  .tz-gallery .lightbox:hover:after,
  .tz-gallery .lightbox:hover:before {
    opacity: 1;
  }
  
  .baguetteBox-button {
    background-color: transparent !important;
  }
  .modal.show .modal-dialog {
    transform: none;
    width: 70% !important;
    max-width: 90%;
    top: 0;
}





.img-container img {
   width: 100%;
   height: auto;
   border: 1px solid #ccc;
   border-radius: 5px;
   cursor: pointer;
   -webkit-tap-highlight-color: transparent;
   transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;

}
.img-container img:hover{
  transform: scale(0.97);
 -webkit-transform: scale(0.97);
 -moz-transform: scale(0.97);
 -o-transform: scale(0.97);
  opacity: 0.75;
 -webkit-opacity: 0.75;
 -moz-opacity: 0.75;
  transition: .3s;
 -webkit-transition: .3s;
 -moz-transition: .3s;
}



/*   Project: Popup Lightbox 
 *   Author: Asif Mughal
 *   URL: www.codehim.com
 *   License: MIT License
 *   Copyright (c) 2019 - Asif Mughal
 */
 
/* File: popup-lightbox.css */

.lightbox {
	position: fixed;
	background: rgba(0, 0, 0, 0.90);
	display: none;
	z-index: 100;
}

.lightbox .img-show {
	position: absolute;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.img-caption {
	background: rgba(0, 0, 0, 0.3);
	padding: 10px;
	position: absolute;
	bottom: 0;
	display: block;
	z-index: 101;
	color: #fff;
	text-shadow: 1px 0.4px rgba(0, 0, 0, 0.5);
	width: 100%;
	box-sizing: border-box;
}

.lightbox .btn-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 32px;
	height: 32px;
	border: 1px solid #fff;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	text-align: center;
	font-size: 18pt;
	z-index: 101;
	cursor: pointer;
}

.lightbox .btn-close:hover {
	background: #fff;
}

.lightbox .lightbox-status {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #fff;
	font-size: 14px;
	z-index: 101;
}

.img-show img {
	width: 100%;
	height: auto;
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	margin: auto;
}


/* Next and Previous Buttons */

.btn-prev,
.btn-next {
	width: 32px;
	height: 100px;
	background: rgba(0, 0, 0, 0.30);
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	z-index: 101;
	border: 0;
	font-family: FontAwesome;
	color: #fff;
	color: rgba(255, 255, 255, 0.6);
	font-size: 18pt;
	border-radius: 5px;
}

.btn-prev:hover,
.btn-next:hover {
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: 0.4s;
	-o-transition: .4s;
}

.btn-prev {
	left: 5px;
}
figcaption{
	display: none !important;
}
.btn-next {
	right: 5px;
}

.btn-prev:before {
	content: "\f104";
}

.btn-next:before {
	content: "\f105";
}

.v-hidden {
  display: none;
}

@media only screen and ( min-width: 680px) {
	.lightbox {
		border-radius: 5px;
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	}
}
