.topClr {
    color: #fff;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 0;
}
.topClr ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: right;
}
.topClr ul li{
    display: inline-block;
    text-align: center;
}
.topClr ul li img {
    width: 40px;
    margin-left: 12px;
    background: #ffffff45;
    text-align: center;
    padding: 4px;
    border-radius: 34px;
}
.dash {
    background: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
body{
    background: linear-gradient(to right, #0A78C7,#F71C7C);
    margin: 0px;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 100px !important;
}
.logo img {
    width: 100%;
}
.topClr ul li img {
    width: 35px;
    margin-left: 10px;
}
.topImgBr {
    border: 4px solid;
    border-radius: 25px !important;
    border-image-source: linear-gradient(to right, #0A78C7,#F71C7C);
    border-image-slice: 1;
    overflow: hidden;
    padding: 15px;
    background: linear-gradient(to right, #0a78c738,#f71c7c45);
}
.toptopImg {
    border-radius: 10px !important;
    overflow: hidden;
    text-align: left;
}
.topImgBr img {
    width: 100%;
    margin: auto;
    background: linear-gradient(to right, #0A78C7,#F71C7C);
    padding: 10px 7px 0px;
    border-radius: 15px;
}
p.profileName {
    margin: 0px;
    color: #000000;
    font-size: 18px;
    font-weight: 800;
}
p.workName {
    color: #676767;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 7px;
}
.chartProf p {
    margin-bottom: 3px;
    font-weight: 600;
}
.dashBtm .card {
    border-radius: 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: linear-gradient(to right, #0a78c738,#f71c7c45);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 5px 15px;
}
.dashBtm .col-4,.matchesDash .inCol .col-4 {
    width: 270px;
}
.dashBtm .row {
    align-items: center;
    margin: 0px;
}
.dashBtm {
    width: 100%;
    background-color: #fff;
    overflow: scroll;
}
.btmDash{
    width: 815px;
}
p.dashDw span {
    font-size: 25px;
    margin-right: 7px;
    font-weight: 600;
    color: #0A78C7;
}
p.dashP, p.dashDw {
    color: #333;
    font-weight: 600;
    margin: 0px;
}
.matchesDash h3 {
    font-size: 23px;
    font-weight: 700;
}
.matchesDash{
    background-color: #fff;
}
.matchesDash a {
    color: #0A78C7;
    text-decoration: none;
    font-weight: 600;
}
.innTopBr img {
    width: 100%;
    border: 7px solid #fff;
    border-radius: 10px;
}
.innTopBr p.profileName {
    margin: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    padding: 15px 0px 0px;
}
.innTopBr hr {
    margin: 9px 0px;
    border-top: 2px solid #3333;
    width: 20px;
    background: #3333;
    opacity: 1;
}
.indetails {
    margin-bottom: 10px;
}
.indetails p {
    color: #fff;
    margin: 0px;
    line-height: 29px;
    font-weight: 200;
}
.innTopBr {
    background: linear-gradient(to right, #0A78C7,#F71C7C);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.btmCashTop{
    overflow-x: auto;
}
.nobag .innTopBr {
    background: transparent;
    color: #333;
    padding: 0px;
}
.nobag .innTopBr p.profileName,.nobag .indetails p{
    color: #212529;
}
.nobagDif .innTopBr {
    background: #dbf1f1;
    padding: 15px;
}
.innTopBr li img {
    padding: 0px;
    border: 4px solid #fff;
    list-style: none;
    width: 45px;
}
.innTopBr ul li{
    display: inline-block;
}
.innTopBr ul {
    padding: 0px;
    list-style: none;
}
.card img {
    width: 34px;
    background: #fbf3f3b3;
    padding: 5px;
    border-radius: 15px;
}
.bottonNav {
    background: #fff;
    padding:15px 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: -1px -1px 5px #3333;
    z-index: 9;
}
.bottonNav ul li{
    display: inline-block;
    width: 24%;
}
.bottonNav ul{
    margin: 0px;
    padding: 0px;
}
.bottonNav ul li img {
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    width: 25px;
    height: 23px;
}
.bottonNav ul li a{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    position: relative;
}
.bottonNav ul li a.active {
    color: #dc3545;
}
.bottonNav ul li a.active::before {
    display: inline-block;
    content: "";
    border-top: 0.4rem solid #dc3545;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    left: -47px;
    top: 1px;
}

input[type="search"] {
    width: 100%;
    background: #f95dfb4a;
    border: none;
    box-shadow: 1px 1px 5px #33333385;
    height: 36px;
    padding: 3px 14px;
    border-radius: 29px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }  
  .tabsTop{
    background: #fff;
    padding: 15px 0px;
  }
  .nav-link.active{
    color: #f71c7c !important;
    border-bottom: 3px solid !important;
    box-shadow: none;
  }
  .nav-link{
    color: #000 !important;
    padding: 8px 20px;
  }
  .tab-pane {
    padding: 15px;
}
.btmTab h3 {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 5px;
}
.btmTab p {
    font-size: 14px;
    font-weight: 400;
}
.btmTab p img {
    width: 26px;
    padding: 6px;
    border-radius: 15px;
    border: 2px solid #0A78C7;
    margin-right: 7px;
    margin-top: -3px;
    margin-left: 15px;
}
.p-all-img-count {
    height: 24px;
    width: 25px;
    display: flex;
    background: #f71c7c;
    border-radius: 50%;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    right: -13px;
    font-size: 12px;
}
.p-all-img i {
    font-size: 20px;
    background: #00000069;
    padding: 12px;
    color: #fff;
    border-radius: 10px;
}
.p-all-img {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
}
.w-75 {
    width: 75% !important;
}
.p-relative{
    position: relative;
}
.leftImg.p-relative {
    text-align: center;
    background: #a4a094;
    border-radius: 17px;
    height: 100%;
}
.leftImg.p-relative img{
    width: 100%;
    border-radius: 12px;
    height: 100%;
}
.p-r-c h3 a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    margin: 0px;

}
.p-r-c h3 img {
    max-width: 20px;
    margin-left: 5px;
}
.p-r-c h3 {
    font-size: 26px;
    font-weight: 700;
    margin: 0px;
}
.dotss{
    width: 20px;
}
.online, .blueLine {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0px;
}
.online {
    color: #24B501;
}
.cardBox span img {
    width: 14px;
    margin-right: 7px;
    margin-top: -4px;
}
.content-top h4 {
    font-size: 14px;
    margin: 0px;
    font-weight: 500;
    line-height: 20px;
}
.p-r-c table td {
    line-height: 26px;
    padding: 3px;
}
.edit-btn {
    padding: 7px 5px;
    border: none;
    background: #DFEDF8 !important;
    border-radius: 5px;
    color: #0a78c7;
    font-weight: 400;
    font-size: 14px;
    width: auto;
    display: inline-block;
    text-decoration: none;
    float: right;

}
.edit-btn:hover {
    background: linear-gradient(to right, #0A78C7,#F71C7C) !important;
    color: #fff;
}
button.filter {
    position: fixed;
    bottom: 96px;
    right: 15px;
    background: #d3d3d3b5;
    border: none;
    padding: 5px 15px;
    border-radius: 40px;
}
.filter img{  
    width: 19px;
    margin-top: -5px;
    margin-right: 11px;
}
.showBtn{
    width: 100%;
    background: linear-gradient(to right, #0A78C7,#F71C7C) !important;
    color: #fff;
    border: none !important;
}
form.popMdl label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #000;
}
form.popMdl select {
    width: 100%;
    border: 1px solid #3333;
    padding: 5px;
    height: 35px;
    border-radius: 7px;
    margin-bottom: 15px;
    background: #33333312;
}
.resetAll{
    background-color: transparent;
    border: none;
    color: #0A78C7;
}
